body{
   margin: 0;
   padding: 0;
}
.container {
   position: relative;
}

.container img {
   width: 100%;
   height: auto;
}

.overlay-container {
   position: absolute;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 15px;
   top: 47%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.overlay-container2 {
   position: absolute;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 15px;
   top: 63%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.overlay-container a {
   display: block;
}
.overlay-container a img {
   width: 23vw;
   height: auto;
}
.overlay-container2 a img {
   width: 22vw;
   height: auto;
}

.overlay {
   width: 100%;
   height: auto;
}

a .arepa{
   position: absolute;
   bottom: 1vh;
   left: 50vw;
   width: 47vw;
   height: auto;
}
a .frase{
   position: absolute;
   bottom: 5vh;
   left: 6vw;
   width: 70vw;
   height: auto;
}